.kk {
  background-color: #ffffff;
}

.line {
  border: 1px solid #475569;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .searchInput-container-mobile {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .filter-group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
}

.searchInput-container-mobile {
  border: 1px solid #7e858e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  padding-left: 0px;
}

.input {
  outline: none;
  border: none;
  background-color: transparent;
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 14px;
  flex-grow: 1;
  font-weight: 500;
  flex-grow: 1;
  padding-top: 15px;
  padding-bottom: 6px;
  padding-right: 6px;
}
.search-button-container-mobile {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0px;
  background-color: #272727;
}
.filters-container {
  margin-left: 15px;
  width: 100%;
}

.employementType-list-heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-bottom: 15px;
}
.ul-list {
  padding-left: 0;
}
.list-item {
  list-style-type: none;
  margin-bottom: 10px;
}
.employementType-label {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  margin-left: 10px;
}
.kk {
  color: #64748b;
  font-family: Roboto;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
.active {
  color: #0967d2;
}
