.searchInput-container-desktop {
  border: 1px solid #7e858e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 10px;
  align-self: flex-start;
  margin-top: 30px;
  width: 80%;
  margin-left: 20px;
}
.jobItems-container {
  padding: 20px;

  display: flex;
  justify-content: center;
  align-self: center;
}

.jobs-container {
  width: 100%;
  background-color: black;
  display: flex;

  min-height: 100vh;
}

.failure-description {
  text-align: center;
  color: #b6c5ff;
  font-family: 'Roboto';
  margin-top: 0px;
  line-height: 1.5;
  font-size: 14px;
}

.jobitems-list {
  padding-left: 0;
  padding-top: 0;
}
.failure-view-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.failure-heading {
  font-size: 40px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1.5;
  text-align: centers;
}
.failure-img {
  width: 450px;
  height: 400px;
  margin-bottom: 20px;
}
.failure-button {
  background-color: #4f46e5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  outline: none;
  border-width: 0px;
  height: 40px;
  width: 90px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .failure-img {
    width: 250px;
    height: 200px;
  }
  .failure-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .failure-heading {
    font-size: 20px;
  }
  .failure-description {
    font-size: 15px;
  }
}

@media screen and (min-width: 767px) {
  .jobs-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .input {
    outline: none;
    border: none;
    background-color: transparent;
    color: #cbd5e1;
    font-family: 'Roboto';
    font-size: 14px;
    flex-grow: 1;
    font-weight: 500;
    flex-grow: 1;

    padding-top: 15px;
    padding-bottom: 6px;
    padding-right: 6px;
  }

  .input-jobItems-container {
    width: 70%;
    background-color: black;
    display: flex;
    flex-direction: column;
  }

  .failure-img {
    width: 450px;
    height: 400px;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-grow: 1;
  }
  .search-button-container-desktop {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0px;
    background-color: #272727;
  }
  .failure-description {
    font-size: 15px;
  }
  .filter {
    width: 30%;
    padding: 10px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 767px) {
  .searchInput-container-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .searchInput-container-desktop {
    display: none;
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
    flex-grow: 1;
  }
  .jobItems-container {
    padding-top: 0;
  }
  .input-jobItems-container {
    padding-top: 0;
  }
  .jobs-container {
    display: flex;
    justify-content: center;

    width: 100%;
  }
  .jobs-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    padding: 20px;
  }
  .jobItems-container {
    padding: 0px;
  }
  .filter {
    width: 100%;
    background-color: black;
  }
}

@media screen and (min-width: 768px) {
  .no-jobs-view {
    margin-left: 30px;
    width: 100%;
    padding-bottom: 0;
    margin-top: 0px;
  }
}

.no-jobs-img {
  width: 250px;
  height: 180px;
}

@media screen and (min-width: 768px) {
  .no-jobs-img {
    width: 459px;
    height: 315px;
  }
}

.no-jobs-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3px;
  width: 90%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .no-jobs-heading {
    margin-top: 32px;
    font-size: 42px;
  }
}

.no-jobs-description {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .no-jobs-description {
    margin-top: 12px;
    font-size: 14px;
    width: 60%;
    max-width: 466px;
  }
  .no-jobs-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
    margin-top: 48px;
  }
}
